// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Nunito', sans-serif;
$heading-font-family: 'Lato', 'Nunito', sans-serif;
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1650px
);

$border-radius-root: 4px;

// btn variables
$btn-font-weight: bold;
$btn-font-sizes: (
  'x-small': .625rem,
  'small': .8rem,
  'default': 1rem,
  'large': 1rem,
  'x-large': 1.15rem
);
